/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary-lightest: #77d2ff;
    --ifm-color-primary-lighter: #30bbf8;
    --ifm-color-primary-light: #11abef;
    --ifm-color-primary: #10a3e8;
    --ifm-color-primary-dark: #0e86bb;
    --ifm-color-primary-darker: #0c76a5;
    --ifm-color-primary-darkest: #0c4564;

    --ifm-code-font-size: 95%;

    --ifm-link-color: #0c76a5;
    --ifm-hero-background-color: #10a3e8;
    --ifm-hero-text-color: #000000;
    --ifm-button-border-color: #000000;
}

html[data-theme='dark'] {
    --ifm-link-color: #30bbf8;
    --ifm-hero-text-color: #000000;
    --ifm-button-border-color: #000000;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

/*Setting height and weight of the sidebar logo increases performance*/
.themedImage_node_modules-\@docusaurus-theme-classic-lib-next-theme-ThemedImage-styles-module {
    height: 32px;
    width: 32spx;
}

@media screen and (max-width: 966px) {
    .footer__link-item {
        line-height: 3;
    }
}